apiVersion: apps/v1
kind: Deployment
metadata:
  name: word-counter-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: word-counter
  template:
    metadata:
      labels:
        app: word-counter
    spec:
      containers:
      - name: word-counter-container
        image: 313382416572.dkr.ecr.us-east-1.amazonaws.com/jenkins:latest
        ports:
        - containerPort: 80
        volumeMounts:
        - name: html
          mountPath: /usr/local/apache2/htdocs
      volumes:
      - name: html
        emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: word-counter-service
spec:
  selector:
    app: word-counter
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer
